.popup__close-button {
    position: relative;
    width: 32px;
    height: 32px;
    top: -191px;
    right: -24px;
    background-image: url(../../../images/close_icon.svg);
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.popup__close-button:hover {
    opacity: .6;
    transition: 1s ease-in-out;
}

@media screen and (max-width: 580px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -187px;
        right: 10px;
    }
}